<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователь</title>
</head>
<body>
<p th:text="${user.getFirstName()}">VALUE</p>
<p th:text="${user.getLastName()}">VALUE</p>
<p th:text="${user.getEmail()}">VALUE</p> <br/>

<a th:href="@{/people/edit(id=${user.getId()})}">Обновить пользователя</a><br/><br/>
<form th:action="@{/people/delete(id=${user.getId()})}"
      method="post" onsubmit="return confirm('Вы уверены, что хотите удалить этого пользователя?');">
    <button type="submit">Удалить пользователя</button><br/><br/>
</form>
<a th:href="@{/people}">Вернуться на главную страницу</a>
</body>
</html>
